@import "../../node_modules/bootstrap/scss/bootstrap";

.bg-1 {
  background-color: #feca57;
}

.bg-2 {
  background-color: #ff6b6b;
}

.bg-3 {
  background-color: #48dbfb;
}

.bg-4 {
  background-color: #10ac84;
}

.bg-5 {
  background-color: #5f27cd;
}

.bg-6 {
  background-color: #b71540;
}

.bg-7 {
  background-color: #b8e994;
}

.bg-8 {
  background-color: #079992;
}